.container1 {
  margin: 5px;
}

.container2 {
  height: 70%;
  text-align: center;
  width: 70%;
  vertical-align: middle;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15%;
  margin-bottom: 15%;
}

.container3 {
  display: none;
  height: 70%;
  text-align: center;
  width: 70%;
  vertical-align: middle;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15%;
  margin-bottom: 15%;
}

img {
  width: 150px;
}
